*.tar
*.pth
*.rar
*.zip
*.png
*.jpg
*.out
*.log
*.pyc
*.mge
*.pickle
*.pkl
*.pyc
*.mge
*.npz
*.npy
*.ckpt
*.th
*.jpeg
*.pfm
*.pfm
/toolkit/models/*
/toolkit/generate_images/*
/datasets/*
/toolkit/torch_lightning/ckpts/*
/toolkit/lightning_logs/*
